body {
  background: grey;
}


.wrapper {
  background: white;
  padding: auto;
  margin: auto;
}

.services-container {
  display: grid;
  grid-auto-columns: 0.25fr 2fr 0.25fr 2fr 0.25fr;
  margin: auto;
  grid-gap: 1rem;
  grid-template-areas: 
  ". image-one . text-one ."
  ". text-two . image-two ."
  ". image-three . text-three ."
  ". text-four . image-four ."
  ". image-five . text-five ."
  ". text-six . image-six ."
  ". image-seven . text-seven .";
}

.text-one {
  grid-area: text-one;
  margin: auto;
  margin-top: 2rem;
  padding-left: 3rem;
}


.text-two {
  grid-area: text-two;
  margin: auto;
  margin-top: 2rem;
  padding-left: 3rem;
}


.text-three {
  grid-area: text-three;
  margin: auto;
  margin-top: 25px;
  padding-left: 3rem;
}

.text-four {
  grid-area: text-four;
  margin: auto;
  margin-top: 2rem;
  padding-left: 3rem;
}


.text-five {
  grid-area: text-five;
  margin: auto;
  padding-left: 3rem;
}


.text-six {
  grid-area: text-six;
  margin: auto;
  padding-left: 3rem;
  padding-top: 27px;
}

.text-seven {
  grid-area: text-seven;
  margin: auto;
  padding-left: 3rem;
}



.image-one {
  grid-area: image-one;
  margin: auto;
}


.image-two {
  grid-area: image-two;
  margin: auto;
}


.image-three {
  grid-area: image-three;
  margin: auto;
}

.image-four {
  grid-area: image-four;
  margin: auto;
}


.image-five {
  grid-area: image-five;
  margin: auto;
}


.image-six {
  grid-area: image-six;
  margin: auto;
}

.image-seven {
  grid-area: image-seven;
  margin: auto;
}


img {
  width: 500px;
  height: 250px;
  margin: 2rem;
}

h2 {
  margin: auto;
}


p {
  word-spacing: 2px;
  line-height: 25px;
}