@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



// styling for h3 element :



.diensten-card-subheading h3 {
   color: #5165BD;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: bold;
}



.heading-mainpage h3 {
    color: #5271ff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.9rem;
    text-align: center;
}  



.services-subheading h3 {
   color: rgb(218, 165, 32);
   font-size: 20.8px;
   text-transform: uppercase;
   text-align: center;
}



// styling for p element : 


.card-secondtext p {
   color: black;
   text-align: center;
}



.card-thirdtext p {
   color: grey;
   text-align: center;
}



.service-section-text p {
   color: white;
   font-size: 20px;
   font-weight: 300;
   text-align: center;
}



.footer-contact-title p {
   color: black;
   font-weight: bold;
   text-align: left;
}



.portfolio-text p {
   font-size: 1.2rem;
   font-weight: bold;
}



.footer-contact-text .beoordelingen-text p {
   color: black;
}



// styling for h4 element : 



.team-card-firstsubheading h4 {
   font-weight: bold;
   font-size: 24px;
   font-weight: 700;
}



.team-card-secondsubheading h4 {
   color: rgb(82, 113, 255);
   font-size: 18px;
   font-weight: 700;
}



// underlining the headings :


.heading-underline {
   width: 4.5rem;
   height: .2rem;
   background-color: #5271ff;
   margin: auto;
   margin-top: 5px;

}



// styling for li element : 



.referenties-list li {
   display: list-item;
   font-size: 16px;
   font-weight: 400;
}



.portfolio-list li {
   display: list-item;
   font-size: 20px;
   font-weight: 700;
}



// styling for buttons : 




.button {
    background-color: #5271ff;
    color: white !important;
    text-transform: uppercase;
    font-size: .9rem;
}





// Navbar styling here :

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
}


// Hamburger styling :

.hamburger {
   display: none;
}

.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #101010;
}

// styling for other elements in the header/navbar section

.nav-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right: 3rem;
}

.nav-item {
   margin-left: 5rem;
   padding: 1rem;

}

.nav-link{
   font-size: 1.6rem;
   font-weight: 400;
   color: #5271ff;
}

.nav-link:hover{
   color: blue;
}

.offerte span a{
   color: #fff;
   padding: 1rem;
   background-color: #5271ff;
   border: 1px solid black;
   border-radius: 3px;
}

.offerte span a:hover {
   color: black;
}



// making navbar responsive :

@media only screen and (max-width: 992px) {
   .nav-menu {
       position: fixed;
       left: -100%;
       top: 5rem;
       flex-direction: column;
       background-color: #fff;
       width: 100%;
       border-radius: 10px;
       text-align: center;
       transition: 0.3s;
   }

   .nav-menu.active {
       left: 0;
   }

   .nav-item {
       margin: 2.5rem 0;
   }

   .hamburger {
       display: block;
       cursor: pointer;
   }

   // JS responsive setting goes in here :

   .hamburger.active .bar:nth-child(2) {
   opacity: 30;
   }

   .hamburger.active .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
   }

}