@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
	background: linear-gradient(45deg, #b1aeae, #ffffff);
    padding-bottom: 15px;
}

.new-nav {
	padding-top: 20rem;
}







.button-underline {
	padding : 2rem;

}

.col-md-3 {
	padding: 1rem;
}


.spacing {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
} 

.img-hover-zoom--brightness  {
	transition: transform 1s, filter 1.5s ease-in-out;
	transform-origin: center center;
	filter: brightness(60%);
 }

 .img-hover-zoom--brightness:hover  {
	filter: brightness(100%);
	transform: scale(1.045);
 }










/********** Here starts extra shit (removable) **************/

.low-col {
	padding: 10rem;
	background-color: lightgray;
}


.low-row {
	background-color: gray;
}


.test {
	padding: 5rem;
	border: 2px solid black;
}

.low-text {
	text-align: center;
	border: 2px solid red;
	padding: 5rem
}



/********************* styling for gallery : ***************************/ 

