@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    padding: env(safe-area-inset);

}

@media only screen 
    and (device-width: 420px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { }


html , body {
   overflow-x: hidden;
   font-family: 'Lato' , sans-serif;
   color: #505962;
}


.my-style-img {
    padding: 1rem;
    text-align: right;
}


.service-text {
    padding: 1rem;
    text-align: left;
}
 

.img-fluid {
    height: 310px;
    width: 600px;
}

h2 {
    text-align: left;
    position: absolute;
}

h4 {
    line-height: 25px;
    text-align: left;
    padding-right: 20px;
    padding-top: 25px;
}



/*          end styling for service content           */  


/*          start styling for offerte content         */







.offerte-text {
    padding: 7px;
}


.col-spacing {
    padding-top: 4.5rem;
}



.title-col-one  {
    padding-bottom: 0;
}



.title-col-one h3 {
    padding-top: 4%;
    padding-bottom: 3%;
}



.title-col-one p {
    padding-right: 12%;
    padding-bottom: 2rem;
}



.offerte-title {
    font-size: 16px;
    color: #5271FF;
    letter-spacing: 3px;
}



.offerte-small-titles {
    font-size: 20px;
    padding-bottom: 2rem;
}



.small-text-styling {
    font-size: 14px;
}



.social {
    margin-left: -2.5rem;
}



.span-div {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}



.span-service-one {
    color: #5271FF;
    border-bottom: 2.3px solid #5271FF;
    font-size: 20px;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    word-spacing: 4px;
}



.heading-line {
    color: #5271FF;
}



.textarea-styling {
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.textarea-spacing {
    margin-top: 0.7rem;
}


/*          End styling for offerte content         */


/*          start stylign for Overons content      */


.col-overons p {
    font-size: 17px;
}



.overons-bold {
    color: #5271FF;
}



.button-haktan {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #5271ff;
    padding: 0.8rem;
}

.button-haktan:hover {
    color: black;
}




 


.heading-ref {
    color: #5271ff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1.9rem;
    border-bottom: 2px solid #5271ff;
}


.referenties-list {
    list-style: outside;
    font-size: 18px;
    padding-left: 1rem;
    word-spacing: 3.5px;
}



.something {
    padding: 2rem 15% 0 15%;
}



.refenties-title {
    color: #5271ff;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5rem;
    padding-left: 15.5%;
}
/*          end styling for overons content           */  
/*
/*           OVERLAY             

.overlay-picture {
    
    margin-top: 50px;  
}



.container-fluid {
    posi
}


.text {
    padding: 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.custom-card {
    width: 500px;

}
*/







/*          start styling for portfolio content         */




