@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    padding: env(safe-area-inset);

}

@media only screen 
    and (device-width: 420px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { }


html , body {
   overflow-x: hidden;
   font-family: 'Lato' , sans-serif;
   color: #505962;
}


.my-style-img {
    padding: 1rem;
    text-align: right;
}


.service-text {
    padding: 1rem;
    text-align: left;
}
 

.img-fluid {
    height: 310px;
    width: 600px;
}

h2 {
    text-align: left;
    position: absolute;
}

h4 {
    line-height: 25px;
    text-align: left;
    padding-right: 20px;
    padding-top: 25px;
}



/*          end styling for service content           */  


/*          start styling for offerte content         */



.container-lg {
background: grey;
}

.container-fluid {
    padding: 5rem;
}

.upper-face{
    padding-top: 15%;
}
    
.space {
    padding-top: 15rem ;
}






/*          end styling for offerte content           */  


/*          start styling for portfolio content         */




