@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    padding: auto;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    padding: env(safe-area-inset);
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
}

html,
body {
    overflow-x: hidden;
    font-family: "Noto Sans", sans-serif;
    color: #505962;
}

a {
    text-decoration: none;
}

/* Here starts the styling of navbar */

.karyo-logo img {
    width: 150px;
    height: 60px;
}

.banner-image {
    width: 100%;
    height: 80vh;
    padding-top: 5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navbar-nav {
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}

.nav-item {
    margin: 1rem;
}

.nav-links {
    text-transform: uppercase;
    font-size: 14.4px;
    font-weight: 700;
    color: #ffb302;
}

.nav-links:hover {
    color: goldenrod;
}

.offerte {
    text-transform: uppercase;
    font-size: 14.4px;
    font-weight: 400;
    color: white;
}

.offerte:hover {
    transition: 0.5s;
    color: black;
}

.btn {
    background-color: #ffb302;
    font-size: 13px;
    color: white;
}

.offerte-btn {
    background-color: #5271ff;
    font-size: 13px;
    color: white;
    padding: 0.7rem;
}

.btn-hover:hover {
    background-color: #ffb302;
}

.diensten-btn {
    background-color: #ffb302;
    margin-top: 2rem;
}

.diensten-btn:hover {
    background-color: goldenrod;
}

.navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: goldenrod;
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
.karyo {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 900;
    color: #5271ff;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.slogan {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    padding-bottom: 2rem;
}

.button {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #5271ff;
    padding: 0.9rem;
}

.button:hover {
    background-color: blue;
    color: white;
}

/*          end styling for service content           */

/*          start styling for offerte content         */

.container-offerte {
    padding-top: 12rem;
    padding-bottom: 5rem;
}

.offerte-text {
    padding: 10px;
}

.col-spacing-offerte {
    padding-top: 12.7rem;
    padding-left: 6rem;
}

.icon-fix {
    margin-left: -0.7rem;
}

.title-col-one h3 {
    padding-top: 4%;
    padding-bottom: 3%;
}

.title-col-one p {
    padding-right: 12%;
    padding-bottom: 2rem;
}

.offerte-title {
    font-size: 16px;
    color: goldenrod;
    letter-spacing: 3px;
}

.small-text-styling {
    font-size: 14px;
}

.offerte-small-titles {
    font-size: 20px;
    padding-bottom: 2rem;
}

.span-div {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.span-service-one {
    color: goldenrod;
    border-bottom: 2.3px solid goldenrod;
    font-size: 20px;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    word-spacing: 4px;
}

.heading-left-offerte {
    font-weight: 600;
    font-size: 18px;
    color: #ffb302;
    text-transform: capitalize;
}

.heading-line {
    color: #5271ff;
}

.textarea-styling {
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textarea-spacing {
    margin-top: 0.7rem;
}

/*          End styling for offerte content              */

/*          Here starts styling for service page         */

h2 {
    text-align: left;
    color: goldenrod;
    font-weight: 700;
    font-size: 30px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

h4 {
    line-height: 25px;
    text-align: left;
    padding-right: 15px;
    padding-top: 20px;
}

.service-container {
    margin-top: 7rem;
}

.service-middle {
    text-align: center;
}

.service__title {
    margin-bottom: 50px;
    border: 2px solid #ffb302;
    font-size: 24px;
    font-weight: 600;
    color: goldenrod;
    padding: 0.5rem;
}

.service__backgroundone {
    height: 350px;
    width: 400px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.service__backgroundtwo {
    height: 350px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.service__backgroundthree {
    height: 350px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.service__backgroundfour {
    height: 350px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.row-service {
    padding: 5rem;
}

@media only screen and (max-width: 680px) {
    .service__backgroundone {
        height: 300px;
        width: 320px;
        margin-bottom: 20px;
    }

    .service__backgroundtwo {
        height: 300px;
        width: 320px;
        margin-bottom: 10px;
    }

    .service__backgroundthree {
        height: 300px;
        width: 320px;
        margin-bottom: 20px;
    }

    .service__backgroundfour {
        height: 300px;
        width: 320px;
        margin-bottom: 10px;
    }
}

/*          End styling for service page         */
