@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Navbar styling here : */

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
   background: transparent;
}


/* Hamburger styling : */

.hamburger {
   display: none;
}

.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #101010;
}

/* styling for other elements in the header/navbar section  */

.nav-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right: 3rem;
}

.nav-item {
   margin-left: 2rem;
   padding: 1rem;

}

.nav-link{
   font-size: 1.6rem;
   font-weight: 600;
   color: #5271ff;
}

.nav-link:hover{
   color: blue;
}

.offerte span a{
   color: #fff;
   padding: 1rem;
   background-color: #5271ff;
   border: 1px solid black;
   border-radius: 3px;
}

.offerte span a:hover {
   color: black;
}



/* making navbar responsive : */

@media only screen and (max-width: 992px) {

   section {
      width: 100%;
      max-width: 400px;
      background-size: cover ;
      object-fit: cover;

   }

   .nav-menu {
       position: fixed;
       left: -100%;
       top: 5rem;
       flex-direction: column;
       background-color: #fff;
       width: 100%;
       border-radius: 10px;
       text-align: center;
       transition: 0.3s;
   }

   .nav-menu.active {
       left: 0;
   }

   .nav-item {
       margin: 2.5rem 0;
   }

   .hamburger {
       display: block;
       cursor: pointer;
   }

   /* JS responsive setting goes in here :  */

   .hamburger.active .bar:nth-child(2) {
   opacity: 30;
   }

   .hamburger.active .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
   }

}