@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
   margin: auto;
   padding: auto;
   box-sizing: border-box;
}

.para {
   display: none;
   font-size: 14px;
   padding: 2rem;
   text-align: center;
   border: 2px solid goldenrod;
}

.heading-text {
   font-size: 2rem;
   color: #ffb302;
   font-weight: 600;
}
.filter-button {
   padding: 0.7rem;
   margin: 0.2rem;
   font-size: 13px;
   border: none;
   border-radius: 3px;
   background-color: #ffb302;
   text-transform: capitalize;
}

.filter-button:hover {
   color: white;
}

html {
   font-size: 62.5%;
   font-family: "Noto Sans", sans-serif;
   scroll-behavior: smooth;
   padding: env(safe-area-inset);
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
}

@media only screen and (max-width: 680px) {
   .row-image-one {
      background: url("/Images/over-ons-pics/KARYO\ foto\ 123.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
      justify-content: space-between;
      padding: 2rem;
   }
}

html,
body {
   overflow-x: hidden;
   font-family: "Noto Sans", sans-serif;
   color: #505962;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.space-container {
   margin: 5% 0% 5% 0%;
}

/*Here goes the styling for social icons: */

/**************************************** Here Starts the styling of navbar *******************************************/

.karyo-logo img {
   width: 150px;
   height: 60px;
}

.banner-image {
   width: 100%;
   height: 80vh;
   padding-top: 5rem;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
}

.navbar-nav {
   justify-content: space-between;
   align-items: center;
   letter-spacing: 2px;
}

.nav-item {
   margin: 1rem;
}

.nav-links {
   text-transform: uppercase;
   font-size: 14.4px;
   font-weight: 700;
   color: #ffb302;
}

.nav-links:hover {
   color: goldenrod;
}

.offerte {
   text-transform: uppercase;
   font-size: 14.4px;
   font-weight: 400;
   color: white;
}

.offerte:hover {
   transition: 0.5s;
   color: black;
}

.btn {
   background-color: #ffb302;
   font-size: 13px;
   color: white;
}

.offerte-btn {
   background-color: #5271ff;
   font-size: 13px;
   color: white;
   padding: 0.7rem;
}

.btn-hover:hover {
   background-color: #ffb302;
}

.diensten-btn {
   background-color: #ffb302;
   margin-top: 2rem;
}

.diensten-btn:hover {
   background-color: goldenrod;
}

.navbar-toggler {
   width: 47px;
   height: 34px;
   background-color: goldenrod;
}

.navbar-toggler .line {
   width: 100%;
   float: left;
   height: 2px;
   background-color: #fff;
   margin-bottom: 5px;
}

.karyo {
   text-transform: uppercase;
   font-size: 5rem;
   font-weight: 900;
   color: #5271ff;
   text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.slogan {
   color: white;
   text-transform: uppercase;
   font-size: 2.5rem;
   font-weight: 700;
   letter-spacing: 0.3rem;
   text-shadow: 0.1rem 0.1rem 0.1rem black;
   padding-bottom: 2rem;
}

.button {
   color: white;
   text-transform: uppercase;
   font-size: 1.5rem;
   background-color: #5271ff;
   padding: 0.5rem;
}

.button:hover {
   background-color: blue;
   color: white;
}
/**************************************** Here Ends the styling of Header *******************************************/

/**************************************** Here Starts the styling of Diensten section *******************************************/
.col-lg {
   padding-bottom: 3rem;
}

.heading span {
   color: #5271ff !important;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 28px;
   text-align: center;
   padding-bottom: 1rem;
   letter-spacing: 3px;
}

.heading :hover {
   color: goldenrod;
}

.heading-five {
   padding-top: 3rem;
   padding-bottom: 3rem;
   text-shadow: 2px 2px rgb(0, 0, 0, 0.8);
   color: white;
}

.heading-five span {
   color: goldenrod;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 28px;
   text-align: center;
   letter-spacing: 3px;
}

hr {
   border: 1px solid #fff;
}

*,
*:before,
*:after {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.main-title {
   color: #2d2d2d;
   text-align: center;
   text-transform: capitalize;
   padding: 0.7em 0;
}

.content-main {
   position: relative;
   width: 90%;
   max-width: 400px;
   margin: auto;
   overflow: hidden;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.content-main .content-overlay {
   background: rgba(0, 0, 0, 0.7);
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   opacity: 0.5;
   -webkit-transition: all 0.4s ease-in-out 0s;
   -moz-transition: all 0.4s ease-in-out 0s;
   transition: all 0.4s ease-in-out 0s;
}

.content-main:hover .content-overlay {
   opacity: 1;
}

.content-image {
   width: 100%;
}

.content-details {
   position: absolute;
   text-align: center;
   padding-left: 1em;
   padding-right: 1em;
   width: 100%;
   top: 50%;
   left: 50%;
   opacity: 0;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: all 0.3s ease-in-out 0s;
   -moz-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
}

.content-main .content-details {
   top: 50%;
   left: 50%;
   opacity: 5;
}

.content-details h3 {
   color: #fff;
   font-weight: 500;
   letter-spacing: 0.15em;
   margin-bottom: 0.5em;
   text-transform: uppercase;
}

.content-details p {
   color: #fff;
   font-size: 16px;
}

.fadeIn-bottom {
   top: 80%;
}

.fadeIn-top {
   top: 20%;
}

.fadeIn-left {
   left: 20%;
}

.fadeIn-right {
   left: 80%;
}

.diensten-text-bottom {
   font-size: 20px;
   font-weight: 500;
   margin: 10% 2rem 2rem 2rem;
   padding: 1rem;
   text-align: center;
   background-color: rgb(0, 0, 0, 0.5);
   color: white;
   font-size: 14px;
}

.span-black {
   font-weight: 900;
   font-size: 16px;
   color: #ffb302;
}

.button-primary {
   text-align: center;
   background-color: white;
   padding-bottom: 4%;
}

.button-primary:hover {
   background-color: white;
}

.btn-primary {
   font-size: 15px;
   font-weight: 500;
   padding: 0.6rem 2rem 0.6rem 2rem;
}

/**************************************** Here Ends the styling of Diensten *******************************************/

/**************************************** Here Starts the styling of service section *******************************************/
.parallax {
   /* Set a specific height */
   min-height: 50rem;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: rgba(255, 255, 255, 0.5) !important;
}

.parallax-under-go {
   background-color: rgba(0, 0, 0, 0.2);
}

.fa-inverse {
   color: rgba(255, 255, 255, 0);
   color: white;
}

.heading-service {
   color: white;
   font-size: 28px;
   font-weight: 600;
   text-align: center;
}

.span-service {
   border-bottom: 5px solid goldenrod;
   letter-spacing: 4px;
   color: goldenrod;
}

.heading-service h3:hover {
   color: goldenrod;
}

.each-card {
   margin: 3rem;
   padding: 3rem;
   /* box-shadow: white 0px 20px 30px -10px; */

   background-color: rgba(0, 0, 0, 0.2);
}

.col-service-bar {
   padding: 1rem;
   text-align: center;
}

.parallax-text {
   text-shadow: 2px 2px rgb(0, 0, 0, 0.8);
   color: white;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 2.2rem;
}

.parallax-paragraph {
   color: white;
   font-size: 1.8rem;
   font-weight: 400;
   letter-spacing: 1px;
}

.top-service-bar {
   padding: 2rem;
}

.lower-bar-colomns {
   padding-top: 9rem;
   padding-bottom: 12%;
}

/**************************************** Here Ends the styling of service section*******************************************/

/**************************************** Here Starts the styling of Beoordelingen *******************************************/

.heading-beoordeel span {
   color: goldenrod;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 28px;
   letter-spacing: 3px;
   padding: 0.6rem;
   background-color: rgb(0, 0, 0, 0.4);
}

.heading-beoordeel {
   padding-bottom: 2%;
   padding-top: 2%;
}

/*
.col:hover {
   box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
*/

.comments {
   text-align: left;
   margin: 3rem;
   padding: 2rem;
   background-color: rgb(0, 0, 0, 0.5);
}

.comments-span {
   font-size: 16px;
   word-spacing: 5px;
   color: white;
}

.hr-beoordelingen {
   padding: 1rem;
   border-bottom: 2px solid goldenrod;
}

.fa-2x {
   padding-left: 1rem;
   padding-bottom: 1rem;
}

cite {
   font-weight: 600;
   font-size: 17px;
   color: #ffb302;
}

.fa-quote-left {
   color: black;
}

/**************************************** Here Ends the styling of Beoordelingen *******************************************/

/**************************************** Here Starts the styling of Team *******************************************/

.row-team {
   justify-content: space-evenly;
}

.team-column {
   background-color: rgba(0, 0, 0, 0.6);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.center-image {
   padding-top: 1rem;
}

.team-image-one {
   background-image: url("/Images/Team/image-yusuf.jpg");
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   background-repeat: no-repeat;
   background-size: cover;
   height: 350px;
   width: auto;
}

.team-image-two {
   background-image: url("/Images/Cards/Karyo\ Aanvraag\ prijs.png");
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   background-repeat: no-repeat;
   background-size: cover;
   height: 350px;
   width: auto;
}

.team-image-three {
   background-image: url("/Images/Cards/karyosupport.png");
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   background-repeat: no-repeat;
   background-size: cover;
   height: 350px;
   width: auto;
}

.team-text {
   padding: 2rem 20px;
   margin-top: 1rem;
   /* border: 2px solid #ffb302; */
   color: white;
   text-align: center;
}

.team-title {
   color: #ffb302;
   font-size: 23px;
}

.team-ocd {
   font-size: 18px;
   color: #ffb302;
   text-transform: capitalize;
   font-weight: 600;
}

.team-disc {
   font-size: 14px;
}

/**********************************************/

.card-style {
   margin: auto;
   margin-bottom: 4rem;
   text-align: center;
}

.col-team {
   margin: 2rem;
}

.card-title {
   font-size: 2.8rem;
   font-weight: 700;
   text-align: center;
}

.card-slogan {
   color: #5271ff;
   font-size: 2.4rem;
   font-weight: 600;
}

.card-slogan:hover {
   color: goldenrod;
}

.card-text {
   padding: 2rem;
   font-size: 1.8rem;
   font-weight: 500;
}

.card-line {
   border: 1px solid black;
}

.social {
   word-spacing: 2rem;
   font-size: 2.5rem;
}

.team-text-background {
   width: 300px;
   height: 200px;
   background-color: rgba(255, 255, 255, 0.5);
   position: relative;
   transition: all 0.5s ease;
}

.team-col:hover > .team-text-background {
   width: 300px;
   height: 300px;
   position: relative;
}

.team-col:hover > .team-text-background > .team-backgroundimage {
   width: 300px;
   height: 300px;
   position: absolute;
   bottom: 0%;
   left: 0%;
   transition: all 0.25s ease;
   background-image: url("/Images/Team/Yusuf-team.jpeg");
   background-size: cover;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   transform: scale(1);
   border-radius: 0%;
}

.team-backgroundimage {
   width: 150px;
   height: 150px;
   position: absolute;
   bottom: 65%;
   left: 25%;
   transition: all 0.5s ease;
   background-image: url("/Images/Team/Yusuf-team.jpeg");
   background-size: cover;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   border-radius: 0%;
}

.team-text-wrapper {
   padding: 2rem 5rem;
   position: absolute;
   top: 50%;
   left: 9%;
   visibility: visible;
   transition: all 0.1s ease;
   z-index: 1;
}
.team-text-background > .team-backgroundimage > p {
   visibility: visible;
   transition: all 0.25s ease;
   color: black;
}

.team-col:hover > .team-backgroundimage > p {
   visibility: hidden;
   transform: scale(1.1);
   z-index: 1;
}

.team-col:hover > .team-text-background > .team-text-wrapper {
   visibility: hidden;
   transform: opacity 1.2s;
}

.team-text-background > .team-backgroundimage > h2 {
   visibility: visible;
   transition: all 0.25s ease;
   color: black;
}

.team-col:hover > .team-backgroundimage > h2 {
   visibility: hidden;
   transform: scale(1.1);
}

/**************************************** Here Ends the styling of Team *******************************************/

/**************************************** Here Starts the styling of over ons *******************************************/

.row-image-one {
   background: url("/Images/over-ons-pics/KARYO\ foto\ 123.png") no-repeat center;
   background-position: center;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   background-size: cover;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   justify-content: space-between;
   padding: 2rem;
}

.column-over-ons {
   padding: 2rem;
   text-align: center;
   background-color: rgb(0, 0, 0, 0.4);
   margin-bottom: 5rem;
}

.title-col {
   color: #ffb302;
   font-weight: 600;
   font-size: 18px;
   text-transform: uppercase;
   word-spacing: 2px;
   border-bottom: 2px solid #ffb302;
   display: inline-block;
   padding-bottom: 1.5rem;
}

.text-col {
   color: white;
   font-size: 14px;
   padding: 2rem;
   padding-bottom: 0;
   padding-top: 1.5rem;
}

.smart-move {
   border-bottom: 2px solid #ffb302;
   display: inline-block;
   padding-bottom: 2rem;
   color: rgb(255, 255, 255, 0.8);
   width: 13rem;
}

.gold-text {
   font-size: 15px;
   color: #ffb302;
   font-weight: 600;
}

.row-image-two {
   background: url("/Images/over-ons-pics/image00001.jpeg") no-repeat center;
   background-size: cover;
   height: 100%;
   width: 100%;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   justify-content: space-between;
   padding: 2rem;
   margin-top: 2rem;
}

.door-background {
   background: url(/Images/new-pics/image00001.jpeg) no-repeat center;
   height: 100%;
   width: 100%;
   background-size: cover;
}

.door-background-two {
   background: url("/Images/footer/parallax-tile.jpg") no-repeat center;
   height: 100%;
   width: 100%;
   background-size: cover;
}

p {
   margin-bottom: 0 !important;
}

.paragraph_text {
   font-size: 14px !important;
}

.col-overons p {
   font-size: 13px;
}

.col-overons {
   font-size: 17px;
   padding: 3rem;
   color: black;
}

h1 {
   display: inline;
}

.overons-bold {
   color: #ffb302;
   font-size: 15px;
}

.titles-size {
   font-size: 28px !important;
   border: 2px solid #ffb302;
   padding: 0.5rem;
}

.button-haktan {
   color: white;
   text-transform: uppercase;
   font-size: 1.5rem;
   padding: 0.8rem;
}

.button-haktan:hover {
   color: white;
}

.heading-ref {
   color: goldenrod;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 28px;
   text-align: center;
   padding-bottom: 1.9rem;
}

.ref-line {
   padding: 0.6rem;
   background-color: rgb(0, 0, 0, 0.4);
}

.referenties-list {
   list-style: outside;
   font-size: 18px;
   padding-left: 1rem;
   word-spacing: 3.5px;
}

ul li,
.referenties-list {
   font-size: 14px !important;
}

.refenties-title {
   color: #ffb302;
   font-weight: 700;
   text-transform: uppercase;
}

.text-on-pic {
   color: black;
}

/**************************************** Here Ends the styling of over ons *******************************************/

/**************************************** Here Starts the styling of Contact *******************************************/

.row-contact {
   background-repeat: no-repeat;
   background-size: cover;
   padding: 5%;
   min-height: 70rem;
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
}

.heading-footer span {
   font-size: 28px;
   font-weight: 700;
   color: #ffb302;
   text-transform: uppercase;
}

.image-footer {
   max-width: 100%;
   height: auto;
}

.contact-left-section {
   margin-top: 5%;
   padding-top: 5%;
   padding: 3rem;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   background-color: rgba(255, 255, 255, 0.7);
}

.contact-right-section {
   padding-top: 8%;
}

.contact-title {
   padding-bottom: 2rem;
}

.icon-fix-two {
   letter-spacing: 1rem;
   padding-top: 1rem;
   margin-left: -0.7rem;
}

.span-contact-one {
   color: goldenrod;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 2.5rem;
   text-align: center;
   padding-bottom: 0.7rem;
   margin-bottom: 3rem;
   border-bottom: 2px solid goldenrod;
}

.span-contact-one:hover {
   color: goldenrod;
}

.text-area-placement {
   padding: 1rem;
   margin-bottom: 1rem;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

::-webkit-input-placeholder {
   font-size: 1.8rem;
}

.offerte-title {
   font-size: 1.6rem;
   color: goldenrod;
   text-transform: uppercase;
   letter-spacing: 3px;
}

.big-text-styling {
   font-size: 28px;
   font-weight: 700;
   color: goldenrod;
}

.small-text-styling {
   font-size: 15px;
}

.social-contact {
   font-size: 2.5rem;
}

.white-text {
   color: white;
}

/***** Diensten PAGE!!! ***/

.new-nav {
   padding-top: 20rem;
}

.filter-nav {
   padding-bottom: 3rem;
}

.button-underline {
   padding: 2rem;
}

.col-md-3 .item {
   padding: 1rem;
}

.column-diensten {
   padding: 1rem;
}

.spacing {
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.img-hover-zoom--brightness {
   transition: transform 1s, filter 1.5s ease-in-out;
   transform-origin: center center;
   filter: brightness(60%);
}

.img-hover-zoom--brightness:hover {
   filter: brightness(100%);
   transform: scale(1.045);
}

.heading > .over-ons-line {
   border: 2px solid #ffb302 !important;
   padding: 0.5rem;
   background-color: rgb(255, 255, 255, 0.5) !important;
   color: goldenrod !important;
}

.parallax-referentie-one {
   background-color: rgb(0, 0, 0, 0.5) !important;
   padding: 3rem;
   margin: 3rem;
   font-size: 14px;
   margin-bottom: 19rem;
   color: white;
}

.parallax-referentie-two {
   background-color: rgb(0, 0, 0, 0.5) !important;
   padding: 3rem 3rem 0 3rem;
   margin: 3rem;
   color: white;
}

.parallax-referentie-three {
   background-color: rgb(0, 0, 0, 0.5) !important;
   padding: 3rem;
   margin: 3rem;
   margin-bottom: 19rem;
   color: white;
}

.gold-karyo {
   color: #ffb302;
   font-size: 3rem;
   font-weight: 600;
}
