/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/


/*
=============== 
Global Styles
===============
*/


ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}



/*  global classes */

/* section */
.section {
  padding: 5rem 0;

}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}


main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Reviews
===============
*/
main {
  display: grid;
  place-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.container {
  max-width: var(--fixed-width);
}
.review {
  height: auto;
  padding-top: 2rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.inside-review {
   padding:2rem 1rem 2rem 1rem ;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.img-container {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}

#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

#author {
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  color: black;

}

#job {
   padding: 1rem;
   margin-bottom: 0.5rem;
   text-transform: uppercase;
   color: var(--clr-primary-5);
   font-size: 2.5rem;
   font-weight: 700;
   color: #5271ff;
   text-align: center;
}
#info {
   padding: 1rem;
   margin-bottom: 0.75rem;
   text-align: center;
   font-size: 2rem;
   font-weight: 500;
   color: white;
   box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

}

.button-container {
   text-align: center;
}

.prev-btn,
.next-btn {
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;


}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}
.random-btn {
  margin-top: 0.5rem;
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border-color: var(--clr-primary-5);
  cursor: pointer;

}
.random-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}